.introduction {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  padding-top: 18%;
  padding-bottom: 20%;
  font-family: "Montserrat", sans-serif;
}

.introduction h1 {
  /* letter-spacing: 7px; */
  font-size: 50px;
  font-weight: 800;
  font-family: "Archivo Black", sans-serif;
}

.introduction h6 {
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
