.footer {
  background-color: rgba(15, 12, 12, 0.808);
  padding-top: 20px;
  padding-bottom: 10px;
}
/* .f-container {
  text-align: center;
} */

.aboutus li {
  text-decoration: none;
}

.icon {
  margin-right: 5px;
  color: white;
  font-size: 20px;
}

.icon:hover {
  transform: scale(1.1);
  transition: transform 2s ease-in-out;
}

.copyright {
  text-align: center;
  margin-bottom: -5px;
}
